/* Try different box model properties below */
body {
  background: 100%;
}
.pages__page {
  border: 1px solid #4491db;
  border-radius: 4px;
  background: #fff;
}
.country {
  margin: 3px;
}

.pages__showing {
  padding: 0rem 2rem 0 0;
}
